APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
DEBUGBAR_ENABLED=false
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=chartrade
DB_USERNAME=root
DB_PASSWORD=12345678

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

CRYPTOCOMPARE_API_KEY=731e5986a04cd808659823d0c1ec2533b625fa99c9a071689a13f0fbe4422495
CRYPTOCOMPARE_API_URL=https://min-api.cryptocompare.com/data/price

TELEGRAM_TOKEN=

STRIPE_KEY=
STRIPE_SECRET=
CASHIER_CURRENCY=inr
